* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.main-container {
  font-family: "Roboto", sans-serif;
  background-color: #fdf8f1; /* Cream background */
  color: #1a1a1a;
}

h1,
h2,
h3,
.logo {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  background: black;
  color: white;

  /* aligning logo to center */
  padding-left: 13%;
}

.logo {
  font-family: "Lobster Two", cursive;
  font-size: 1.8rem;
  letter-spacing: 2px;
  font-weight: 900;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right > button {
  /* Reset button styles */
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 900;
}
.nav-right > button:hover {
  opacity: 0.6;
  border-inline-start: 1px solid white;
}

/* Hero Section */
.hero {
  height: 85vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./assets/images/hero-image.jpg ") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 5rem;
  line-height: 0.9;
  margin-bottom: 20px;
}

/* Buttons */
.order-btn-large {
  background-color: #e65141; /* Redish-orange */
  color: white;
  padding: 15px 40px;
  border: none;
  font-weight: 900;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
}
.order-btn-large:hover {
  opacity: 0.6;
}

.order-btn-small {
  background: white;
  color: black;
  padding: 20px 30px;
  border: 1px solid white;
  font-weight: bold;
  cursor: pointer;
}

.order-btn-white {
  background: transparent;
  border: 2px solid black;
  padding: 10px 25px;
  font-weight: bold;
  cursor: pointer;
}

/* Sections */
section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.seasonal,
.catering,
.rewards {
  background-color: #e65141;
  color: white;
  margin: 10% 15%;
}
.seasonal-text,
.catering-content,
.rewards-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap: 20px;
  padding: 20px 0px;
}
.seasonal-text h1,
.catering-content h1,
.rewards-content h1 {
  white-space: normal;
  font-family:
    Permanent Marker,
    cursive;
  font-size: 4rem;
  letter-spacing: 2px;
  max-width: 100%;
  text-align: center;
  word-break: break-word;
}
.seasonal-img,
.catering-img,
.rewards-img {
  width: 40%;
  height: 500px;
  overflow: hidden;
}
.seasonal-img img,
.catering-img img,
.rewards-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* same as background-size: cover */
  object-position: center;
}

.scrolling-text-static {
  background: transparent;
  position: absolute;
  z-index: -1;
  color: transparent;
  -webkit-text-stroke: 1px #a5c2d6;
  font-size: 4rem;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  padding: 20px 0;
  margin-top: -300px;
  max-width: 100%;
  text-align: center;
  word-break: break-word;
}

.catering {
  background-color: #d9e7f0;
  margin-top: 18%;
} /* Light blue */
.catering-content {
  flex: 1;
}

.rewards {
  background-color: white;
}
.rewards-content,
.catering-content {
  flex: 1;
  color: black;
}

/* Footer */
footer {
  background-color: #e65141;
  color: white;
  padding: 40px 10%;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.footer-links .col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.copyright {
  font-size: 0.7rem;
  opacity: 0.8;
  margin-top: 20px;
}

.footer-logo img {
  width: 100px;
  height: 100px;
}
